@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-brand-green: #25D366; /* WhatsApp Green */
  --color-brand-green-hover: #128C7E;
  
  --color-brand-blue: #002D5C; /* Logo Navy Blue */
  --color-brand-orange: #F25C05; /* Logo Orange */
  
  --color-surface-50: #FAFAFA;
  --color-surface-100: #F4F4F5;
  --color-surface-200: #E4E4E7;
  
  --color-text-primary: #18181B; /* Zinc 900 */
  --color-text-secondary: #52525B; /* Zinc 500 */
}

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 7rem; /* 112px header height offset */
  }
  body {
    background-color: var(--color-surface-50);
    color: var(--color-text-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
